/*PARA COMPUTADORAS*/
a{
	text-decoration: none;
}

body{
	margin: 0;
	padding: 0;
	background-color: white;
}
.estilo-4{
	position: absolute;
	top:8px;
	color: white;
	right: 70px;
	width: 30px;
	left: 940px;
}
.estilo-4:hover{
	color: blue;
}
.carro{
	position: absolute;
	top: 5px;
	left: 1195px;
}
#cr{
	width: 60px;
}
.opciones{
	margin-bottom: 50px;
	display: inline-flex;
	height: 40px;
	background-color: #1c89ff80;
}
.titulo{
	width: 100%;
	margin-bottom: -55px;
}
.header-1{
	color: black;
	margin-top: 5px;
	font-size: 20px;
	margin-left: 2%;
	text-align: left;
}
.estilo-1{
	position: absolute;
	margin-top: 1px;
	color: white;
	margin-right: 50px;
}
.estilo-1:hover{
	color: blue;
}
.estilo-1-2:hover{
	color: blue;
}
.estilo-2:hover{
	color: blue;
}
.estilo-1-2{
	position: absolute;
	margin-top: 1px;
	left: 40%;
	color: white;
	margin-right: 50px;
}
.header-2{
	color: white;
	font-size: 20px;
	margin-right: 2%;
	margin-top: 5px;
	text-align: left;
}
.estilo-2{
	color: white;
	display:flex;
	padding-top: 15px;
	width: 30px;
	margin-top: -13px;
	padding-left: 150px;
}
.face{
	position: absolute;
	top: 5px;
	right: 10%;
}
.insta{
	position: absolute;
	top: 5px;
	right: 6%;
}
#fm{
	width: 30px;
}
#im{
	width: 30px;
}
.logo{
	position: absolute;
	top: 0px;
	right: 45%;
}
.contenedor{
	font-family: "Calibri";
	font-weight: bold;
	font-size: 18px;
	text-align: center;
	margin-top: 1%;
	display: inline-flex;
	width: 100%;
	height: 100%;
}
.a{
 	width: 40%;
 	padding-top: 5%;
 	margin-left: 5%;
 	margin-right: 5%;
 	background-color: #bce7ff80;
 	border-radius: 15px;
 }
 .b{
 	width: 50%;
 	margin-right: 10px;
 }
  .datos{
 	font-family: "Calibri";
 	padding-top: 20px;
 	text-align: center;
 	font-weight: bold;
 	border-width: 1px;
 	border-style: solid;
 	border-color: #8DC4FF80;
 }
 .nombre{
	width: 80%;
 }
 .email{
 	width: 80%;
 }
 .mensaje{
 	width: 80%;
 	height: 80px;
 }
 .btn{
 	padding: 5px 20px;
	position: absolute;
	bottom: -100px;
	left: 45%;
	color: white;
	background-color: #51a5ff;
	font-weight: bold;
	font-family: "Arial";
	margin-top: 40px;
	border-radius: 5px;
 }
 .btn:hover{
 	border-color:  #11cfff;
 	color: white;
 	background-color: #11cfff;
 }
 .boton{
 	width: 100%;
 	text-align: center;
 }
 .footer{
 	width: 100%;
 	position: absolute;
 	top: 700px;
 	color: white;
 	text-align: center;
 	height: 40px;
 	padding-top: 15px;
 	font-family: "Calibri";
 	font-weight: bold;
	background-color: #1c89ff80;
 }
 #titulo{
	text-align: left;
	margin-right: 100px;
 	width: 200px;
 }
.imagenes{
	width: 40%;
	position: absolute;
	top:120px;
	left:25%;
	padding-left: 5%;
	padding-right: 5%;
	background: #8dc4ff80;
	border-radius: 10px;
}
.cuadro-1{
	position: absolute;
	top:120px;
	padding-left: 5px;
	padding-right: 245px;
	padding-bottom: 250px;
	left: 379px;
	background: #00000080;
}
.cuadro-2{
	position: absolute;
	top:120px;
	padding-left: 5px;
	padding-right: 245px;
	padding-bottom: 250px;
	left: 632px;
	background: #00000080;
}
.cuadro-3{
	position: absolute;
	top:374px;
	padding-left: 5px;
	padding-right: 245px;
	padding-bottom: 250px;
	left: 379px;
	background: #00000080;
}
.cuadro-4{
	position: absolute;
	top:374px;
	padding-left: 5px;
	padding-right: 245px;
	padding-bottom: 250px;
	left: 632px;
	background: #00000080;
}

