
a{
	text-decoration: none;
}
body{
	margin: 0;
	padding: 0;
	background-color: white;
}
.estilo-4{
	position: absolute;
	top:8px;
	color: white;
	width: 30px;
	left: 73%;
}
.estilo-4:hover{
	color: blue;
}
.carro{
	position: absolute;
	top: 5px;
	left: 95%;
}
#cr{
	width: 60px;
}
.opciones{
	margin-bottom: 50px;
	display: inline-flex;
	height: 40px;
	background-color: #1c89ff80;
}
.titulo{
	width: 100%;
	margin-bottom: -55px;
}
.header-1{
	color: black;
	margin-top: 5px;
	font-size: 20px;
	margin-left: 2%;
	text-align: left;
}
.estilo-1{
	position: absolute;
	margin-top: 1px;
	color: white;
	margin-right: 50px;
}
.estilo-1:hover{
	color: blue;
}
.estilo-1-2:hover{
	color: blue;
}
.estilo-2:hover{
	color: blue;
}
.estilo-1-2{
	position: absolute;
	margin-top: 1px;
	left: 40%;
	color: black;
	margin-right: 50px;
}
.header-2{
	color: black;
	font-size: 20px;
	margin-right: 2%;
	margin-top: 5px;
	text-align: left;
}
.estilo-2{
	color: white;
	display:flex;
	padding-top: 15px;
	width: 30px;
	margin-top: -13px;
	padding-left: 20%;
}
.face{
	position: absolute;
	top: 5px;
	right: 10%;
}
.insta{
	position: absolute;
	top: 5px;
	right: 6%;
}
#fm{
	width: 30px;
}
#im{
	width: 30px;
}
.logo{
	position: absolute;
	top: 0px;
	right: 45%;
}
.img{
	width: 200px;
}
.contenedor{
	margin-top: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 100%;
	height: 500px;
}
.caja{
	position: absolute;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: -10px;
	width: 70%;
	left: 15%;
	height: 500px;
	background-color: #bce7ff80;
	border-radius: 15px;
}
.a{
	text-align: center;
}
.b{
	width: 100%;
	text-align: center;
	
}
.c{
	text-align: center;
}
.d{
	width: 100%;
	text-align: center;
	
}
 .btn{
 	padding: 5px 20px;
	display: inline-flex;
	margin-right: 50px;
	margin-left: 50px;
	margin-bottom: 10px;
	margin-top: 10px;
	color: #2390CE;
	border-style: solid;
	border-width: 1px;
	background-color: white;
	font-weight: bold;
	font-family: "Arial";
	border-radius: 5px;
 }
 .btn:hover{
 	border-color:  #11cfff;
 	color: white;
 	background-color: #11cfff;
 }
.footer{
 	width: 100%;
 	position: absolute;
 	bottom: -25%;
 	color: white;
 	text-align: center;
 	height: 40px;
 	padding-top: 15px;
 	font-family: "Calibri";
 	font-weight: bold;
	background-color: #1c89ff80;
 }
 #titulo{
	text-align: left;
	margin-right: 100px;
 	width: 200px;
 }
 /*PARA MOVIL*/
 @media only screen and (max-width : 1000px){

a{
	text-decoration: none;
}
body{
	margin: 0;
	padding: 0;
	background-color: white;
}
.opciones{
	margin-bottom: 50px;
	display: inline-block;
	height: 100px;
	background-color: #1c89ff80;
	
}
.titulo{
	right: 15%;
	width: 100%;
	background-color: red;
	margin-bottom: -55px;
}
.header-1{
	width: 100%;
	color: black;
	margin-top: 3%;
	font-size: 35px;
	margin-left: 22%;
	text-align: right;

}
.estilo-1{
	position: absolute;
	margin-top: 2%;
	color: white;
	margin-right: 800%;
	margin-left: -23%;
	width: 30px;
}
.estilo-1-2{
	position: absolute;
	margin-top: 2%;
	left: 40%;
	color: black;
	margin-right: 1%;
	margin-left: -5%;
}
.header-2{
	display: inline-block;
	color: black;
	font-size: 35px;
	margin-right: 2%;
	margin-top: 5px;
	text-align: left;
}
.estilo-2{
	display: inline-block;
	margin: auto;
	padding-left: 600px;
	color: white;
	padding-top: 15px;
	margin-top: -0.2px;
}
.face{
	position: absolute;
	top: 2%;
	right: 10%;
}
.insta{
	position: absolute;
	top: 2%;
	right: 5%;
}
#fm{
	position: absolute;
	width: 55px;
	right: 20px;
	bottom: -45px;
}
#im{
	position: absolute;
	width: 55px;
	left: -45px;
	bottom: -45px;
}

.logo{
	display: inline-block;
	margin-right: 100%;
	position: absolute;
	top: 5px;
	left: 5%;
}
.img{
	width: 800px;
	display: block;
	margin-left: 10%;
	margin-bottom: 150px;
}
.contenedor{

	margin-top: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 100%;
	height: 1500px;
}
.caja{
	background-color: white;
	width: 100%;
	left: 0;
	position: absolute;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: -10px;
	width: 100%;
	height: 500px;
	border-radius: 15px;
}
.a{
	width: 100%;
	text-align: center;
}
.b{
	width: 100%;
	text-align: center;
	
}
.c{
	text-align: center;
}
.d{
	width: 100%;
	text-align: center;
	
}
 #btn-1{
 	position: absolute;
 	top:820px;
 	left: 23%;
 	padding: 35px 150px;
	margin-right: 50px;
	margin-left: 50px;
	margin-top: 10px;
	color: #2390CE;
	border-style: solid;
	border-width: 1px;
	background-color: white;
	font-weight: bold;
	font-family: "Arial";
	font-size: 35px;
	border-radius: 5px;
 }
 #btn-2{
 	position: absolute;
 	top:1770px;
 	left: 23%;
 	padding: 35px 150px;
	margin-right: 50px;
	margin-left: 50px;
	margin-top: 10px;
	color: #2390CE;
	border-style: solid;
	border-width: 1px;
	background-color: white;
	font-weight: bold;
	font-family: "Arial";
	font-size: 35px;
	border-radius: 5px;
 }
 #btn-3{
 	position: absolute;
 	top:2720px;
 	left: 23%;
 	padding: 35px 150px;
	margin-right: 50px;
	margin-left: 50px;
	margin-top: 10px;
	color: #2390CE;
	border-style: solid;
	border-width: 1px;
	background-color: white;
	font-weight: bold;
	font-family: "Arial";
	font-size: 35px;
	border-radius: 5px;
 }
 #btn-4{
 	position: absolute;
 	top:3670px;
 	left: 23%;
 	padding: 35px 150px;
	margin-right: 50px;
	margin-left: 50px;
	margin-top: 10px;
	color: #2390CE;
	border-style: solid;
	border-width: 1px;
	background-color: white;
	font-weight: bold;
	font-family: "Arial";
	font-size: 35px;
	border-radius: 5px;
 }
 #btn-5{
 	position: absolute;
 	top:4620px;
 	left: 23%;
 	padding: 35px 150px;
	margin-right: 50px;
	margin-left: 50px;
	margin-top: 10px;
	color: #2390CE;
	border-style: solid;
	border-width: 1px;
	background-color: white;
	font-weight: bold;
	font-family: "Arial";
	font-size: 35px;
	border-radius: 5px;
 }
 #btn-6{
 	position: absolute;
 	top:5570px;
 	left: 23%;
 	padding: 35px 150px;
	margin-right: 50px;
	margin-left: 50px;
	margin-top: 10px;
	color: #2390CE;
	border-style: solid;
	border-width: 1px;
	background-color: white;
	font-weight: bold;
	font-family: "Arial";
	font-size: 35px;
	border-radius: 5px;
 }
.footer{
	position: fixed;
 	width: 100%;
 	color: white;
 	bottom: 0px;
 	text-align: center;
 	height: 40px;
 	padding-top: 15px;
 	font-family: "Calibri";
 	font-weight: bold;
	background-color: #1c89ff80;
 }
 #titulo{
 	position: absolute;
	left: 38%;
	top:0;
	margin-right: 100px;
 	width: 350px;
 }
 }